body{
    font-family: Verdana;
    text-align: center;
}

#myBtn{
    font-size: 28px;
    padding: 5px 25px;
    border-radius: 5px;
    transition: 50ms;
    background-color: lightskyblue;
}

#myBtn:hover{
    background-color: rgb(55, 173, 246);
}
.labels{
    font-size: 30px;
    
}